body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #39aa3d;
}

#joystickState {
  position: fixed;
  top: 10px;
  left: 20%;
  background-color: #9e9c9cab;
  border: 1px solid #dddddd0e;
  padding: 10px;
  border-radius: 5px;
  width: 450px;
}
#joystickVisualizer {
  position: fixed;
  top: 5px;
  left: 70%;
  width: 80px;
  height: 80px;
  margin: 2px auto;
  text-align: center;
}

#joystickCanvas {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #03020038;
}

#webConnectionStatus {
  position: fixed;
  top: 5px;
  left: 70%;
  width: 80px;
  height: 80px;
  color: green;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #a36ed815;
  border: 1px solid #dddddd0e;
}

#map {
  position: fixed;
  width: 600px;
  height: 600px;
  top: 120px;
  left: auto;
  background-color: #eaeaea;
  border-radius: 5px;
  border: 2px solid #ccc;
}

#messages {
  position: fixed;
  top: 720px;
  left: auto;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  overflow-x: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.message-item {
  width: 250px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
}

.message-topic {
  font-weight: bold;
}

#clearButton {
  position: absolute;
  top: 550px;
  left: 20px;
  padding: 10px;
  background-color: #098d2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clearButton:hover {
  background-color: #0f1101;
}
